@charset "utf-8";
/* CSS Document */
.header {
  width: 100%;
  height: 82px;
  position: relative;
}
.header_logo {
  width: 176px;
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav_list_flex {
  display: flex;
  align-items: center;
}
.nav_list {
  margin-right: 64px;
}
.nav_list a, .nav_list_last a {
  color: #333;
  font-size: 14px;
}
.nav_list a {
  color: #333;
}
.nav_list_last {
  padding: 16px 20px;
  background-color: #F13C68;
}
.nav_list_last a {
  color: #fff;
}