@charset "utf-8";
/* CSS Document */
.header {
  width: 100%;
  height: 82px;
  background: #fff;
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(156, 156, 156, 0.25));
}
.header_logo {
  width: 176px;
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav_list_flex {
  display: flex;
  align-items: center;
}
.nav_list {
  margin-right: 64px;
}
.nav_list a {
  color: #333;
  font-size: 14px;
  font-weight: 500;
}
.nav_list_last {
  padding: 16px 20px;
  background-color: #F13C68;
}
.nav_list_last_link {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
#home {
  background-image: url("../img/rectangle49.jpg");
  min-height: 100vh;
}
#page-top {
  width: 56px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  opacity: 0;
  transform: translateY(100px);
}
#page-top.UpMove {
  animation: UpAnime 0.6s forwards;
}
@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#page-top.DownMove {
  animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100px);
  }
}
.main_visual {
  background-size: cover;
  background-position: center top;
}
.main_visual_text_wrapper {
  position: absolute;
  left: 100px;
  bottom: 40px;
}
.main_visual_text01 h2 {
  font-size: 36px;
  font-weight: 400;
}
.main_visual_text01 {
  padding: 16px 0px;
  background-color: #fff;
  width: 296px;
  text-align: center;
  margin-bottom: 10px;
}
.main_visual_text02 h2 {
  font-size: 54px;
  font-weight: 500;
  color: #fff;
}
.main_visual_text02 {
  padding: 16px 0px;
  background-color: #0FABB5;
  width: 790px;
  text-align: center;
}
.section_top {
  padding-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  line-height: 1.8;
  font-size: 20px;
}
.section_top_text2 {
  font-weight: 700;
  font-size: 20px;
  color: #0FABB5;
}
.section_second {
  background: #E3FAFF;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.section_second_all-wrapper {
  display: flex;
  width: 85%;
  max-width: 1160px;
  margin: 0 auto;
}
.section-second_text-item {
  width: 70vw;
  padding: 55px;
}
.section-second_text_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.check-box_img {
  width: 22px;
  margin-right: 15px;
}
.section-second_text-item {
  background: #fff;
}
.section-second_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}
.section-second_arrow {
  position: absolute;
  left: 50%;
  bottom: -25px;
  width: 46px;
}
.section_third {
  background: #0FABB5;
  padding: 60px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.section_fourth {
  padding: 100px 0;
}
.section_fourth_title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.section_fourth_title::after {
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translate(-50%, 0);
  content: '';
  width: 60px;
  height: 4px;
  background: #0FABB5;
}
.section-fourth_all-wrapper {
  display: flex;
  padding-top: 75px;
  width: 85%;
  max-width: 1160px;
  margin: 0 auto;
  gap: 40px;
}
.section-fourth_img-text-wrapper {
  width: 34%;
  max-width: 360px;
}
.section-fourth_img-text-wrapper:last-child {
  margin-right: 0px;
}
.section-fourth_img {
  border-radius: 8px;
  margin-bottom: 10px;
}
.section-fourth_text-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}
.section-fourth_img-text-wrapper p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}
.section_fifth {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-image: url(../img/rectangle54.jpg);
  background-size: cover;
  background-position: center;
}
.section-fifth_text {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.7;
  margin-bottom: 28px;
}
.section-seventh_text-item {
  width: 55%;
}
.section-seventh_img-item {
  width: 45%;
}
.section-fifth_link {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.section-fifth_link-box {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  background-color: #F13C68;
  width: 276px;
  margin: 0 auto;
}
.section-fifth_link-img {
  width: 20px;
}
.section_seventh {
  padding: 100px 0;
  width: 85%;
  max-width: 1160px;
  margin: 0 auto;
}
.section-seventh_title-sub {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}
.section-seventh_title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.section-seventh_title::after {
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translate(-50%, 0);
  content: '';
  width: 60px;
  height: 4px;
  background: #0FABB5;
}
.section-seventh_img-text_wrapper {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  padding: 40px;
  gap: 48px;
  border: 2px solid #0FABB5;
}
.section-seventh_text-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 22px;
}
.section-seventh_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 22px;
}
.section-seventh_list-wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}
.section-seventh_list-box {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  background-color: #0FABB5;
  padding: 5px 8px;
}
.section-seventh_list-text {
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
}
.section_access {
  padding: 100px 0;
  width: 85%;
  max-width: 1160px;
  margin: 0 auto;
}
.section-access_title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.section-access_title::after {
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translate(-50%, 0);
  content: '';
  width: 60px;
  height: 4px;
  background: #0FABB5;
}
.section-access_img-text_wrapper {
  margin-top: 75px;
  display: flex;
  align-items: center;
  gap: 40px;
}
.section-access_img-item {
  width: 55%;
}
.section-access_text-item {
  width: 45%;
}
.section-access_text-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 16px;
}
.section-access_address {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  margin-bottom: 16px;
}
.section_qa {
  padding: 88px 0;
  background: #F5F5F5;
}
.section-qa_title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.section-qa_title::after {
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translate(-50%, 0);
  content: '';
  width: 60px;
  height: 4px;
  background: #0FABB5;
}
.section_qa ul {
  width: 80%;
  max-width: 970px;
  margin: 88px auto 0 auto;
}
.section_qa ul li {
  margin-bottom: 30px;
  cursor: pointer;
  padding-bottom: 30px;
  border-bottom: solid 1px #878787;
}
.accordion_q {
  position: relative;
  padding-right: 35px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}
.accordion_q::before {
  content: url(../img/q.png);
  margin-right: 25px;
}
.accordion_q:after {
  content: "";
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 10px;
  margin: auto;
  transition: all 0.3s ease-in-out;
  display: block;
  width: 20px;
  height: 20px;
  border-top: solid 2px #0FABB5;
  border-right: solid 2px #0FABB5;
  transform: rotate(135deg);
}
.accordion_q.arrow:after {
  transform: rotate(-45deg);
  top: 45%;
}
.accordion_a {
  display: none;
  margin-top: 35px;
}
.accordion_a::before {
  content: url(../img/a.png);
  margin-right: 25px;
  vertical-align: middle;
}
.footer {
  width: 100%;
  height: 88px;
  background: #0FABB5;
  position: relative;
}
.footer_copyright {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}